.git
.gitignore
.github
node_modules
__pycache__
.venv
.env
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
coverage.xml
*.cover
.coverage
htmlcov/
cache/
storage/
raw/
dualsphysics_bin/
docs/
*.vtk
*.tif
*.asc
